.membership {
  margin-bottom: 80px;
  &__hero {
    background: #000;
    position: relative;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: 38% 38%;
      opacity: .7;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  &__offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #000;
    box-shadow: #000 10px 10px;
    & ul {
      padding-left: 0;
    }
    & h1 {
      padding: 20px 0;
      
    }
    & .fa-check {
      color: green;
    }
    & .fa-x {
      color: #f5104d;
    }
    &--pro {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 100%;
      background: #f5104d;
      margin-bottom: 20px;
    }
    &--basic {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 100%;
      background: #f4c3d0;
      margin-bottom: 20px;
    }
  }
  &__lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 4rem;
    font-size: 1.5rem;
    & ul {
      padding: 10px 60px;
      
    }
  }
  &__info {
    text-align: center;
    padding: 60px 100px;
  }
  &__btn {
    width: 80%;
    padding: 15px;
  }
}