.nutrition {
  margin-bottom: 40px;
  &__hero {
    background: #000;
    position: relative;
  
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: 38% 38%;
      opacity: .8;
    }
  }
  
  &__title {
    font-weight: 700;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  &__box {
    height: 500px;
    width: 100%;
  
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
    & p {
      padding: 10px 30px;
    }
  }
  
  &__section {
    margin: 50px 0;
  }
  
  &__description {
    padding: 80px;
  }
  
  &__heading {
    padding-bottom: 40px;
  }
}