.footer {
  background: #000;
  height: 100%;
/*   margin-top: -80px; */
  & h4 {
    color: white;
  }
  &__link {
    text-decoration: none;
    padding: 20px;
    color: white;
    &:hover {
      color: #f5104d;
    }
  }
  &__info {
    padding: 20px;
  }
  &__address {
    padding-top: 5px;
    & h5 {
      padding-top: 10px;
      color: white;
    }
    & p {
      padding-top: 10px;
      color: white;
    }
  }
}