.hero {
  .hero-image {
    position: relative;
    background: #000;
    overflow: hidden;
    & img {
      max-width: 100vw;
      height: calc(100vh - 90px);
      flex-shrink: 0;
      width: 100%;
      position: relative;
      object-fit: cover;
      object-position: center;
    }
    
  }
  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-20%, -30%);
    width: 100%;
    color: white;
  }
  &__subtitle {
    font-size: 1.8rem;
    font-weight: 200;
  }
  &__title {
    font-size: 6rem;
    font-weight: 500;
    text-shadow: 4px 4px black;
  }
  &__info-link {
    display: block;
    max-width: 200px;
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    &:hover {
      color: #f5104d;
    }
  }
}