.social-media {
  margin-bottom: 60px;
  height: 100%;
  & h2 {
    text-align: center;
    padding-bottom: 1.5rem;
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    & a {
    font-size: 4rem;
    color: #000;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
      color: #f5104d;
    }
    }
    
  }
}